name: Python CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Run Tests
      run: |
        python test_linter.py
    - name: Self-Lint
      run: |
        python linter.py --path examples/Dockerfile.good
